<h1>Have a Chalamet Day!</h1>
<p>
<h5>Here's a random Timothee Chalamet quote and picture to make your day nicer.</h5><p>

<p>
<h3>
<q><%= @random_quote['content'] %></h3></q>

</p>


<%= image_tag (@random_image_path['file_path']), class: "img-responsive", width: '600px' %>


